<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load staticfiles %}
    <link href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static_jquery/js/jquery.js' %}"></script>

    <title>Test form</title>

    <script type="text/javascript">
        function hidePostcode() {
            var checkbox = document.getElementById("id_uk_resident");
            if (checkbox.checked === false) {
                document.getElementById("p_code").setAttribute("type", "hidden");
                console.log(document.getElementsByClassName("col-form-label")[1].className);
                document.getElementsByClassName("col-form-label")[1].setAttribute("style", "display: none;");
            }
        }
    </script>

</head>
<body onload="hidePostcode()">
<div class="container d-flex h-100">
    <div class="row justify-content-center">
        <div class="col-20">
            <h5> Please fill out the following form </h5>
            {% block main %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>