<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">

    function showHidePostcode() {

        var checkbox = document.getElementById("id_uk_resident");

        if (checkbox.checked === true) {
            document.getElementById("p_code").removeAttribute("type");
            console.log('hidden removed');
            document.getElementsByClassName("col-form-label")[1].removeAttribute("style");
        } else {
            document.getElementById("p_code").setAttribute("type", "hidden");
            document.getElementsByClassName("col-form-label")[1].setAttribute("style", "display: none;");
        }


    }


</script>

{% extends 'form_app/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.full_name|as_crispy_field }}
        {{ form.uk_resident|as_crispy_field }}
        {{ form.post_code|as_crispy_field }}
        {{ form.last_salary|as_crispy_field }}

        <label for="id_resume_file" class="col-form-label  requiredField">
            CV / Cover Letter<span class="asteriskField">*</span>
        </label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
                <input name="resume_file" type="file" class="custom-file" id="id_resume_file">
                <label class="custom-file-label" for="id_resume_file">Choose file</label>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm_submit">
            Submit
        </button>


        <!-- Modal -->
        <div class="modal fade" id="confirm_submit" tabindex="-1" role="dialog" aria-labelledby="confirm_submit_label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm_submit_label">Are you sure you want to submit?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}